<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>405717898068-c14kqqdhs09jqt8qdtavmf43ufne8lrt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.405717898068-c14kqqdhs09jqt8qdtavmf43ufne8lrt</string>
	<key>API_KEY</key>
	<string>AIzaSyB1DPU1Y_pYPpK885y2ae1Hd4d9fMUMgZg</string>
	<key>GCM_SENDER_ID</key>
	<string>405717898068</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srsj.swift-mvvm-c-lab</string>
	<key>PROJECT_ID</key>
	<string>dev-lab-fb91e</string>
	<key>STORAGE_BUCKET</key>
	<string>dev-lab-fb91e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:405717898068:ios:dc0a86fe5af3f8dc4e6ec1</string>
</dict>
</plist>